@keyframes breathe {
	0% { opacity: 0.8}
	49% { opacity: 0.8}
	50% { opacity: 0}
	99% { opacity: 0}
	100% { opacity: 0.8}
}

.caret {
	animation: breathe 2s infinite;
	width: 0.1em;
	height: 1em;
	display: inline-block;
	transform: translateY(0.18em);
}

html, body, #app {
	background: #141517
}